<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @branch.addres %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @branch.mobile %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
