<h1 class="h3 mb-2 text-gray-800 non-printable">Tickets</h1>
<% @tickets.reverse.each do |ticket|%>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a class="dropdown-item btn btn-primary" href="" data-toggle="modal" data-target="#<%=ticket.ticketid%>Modal">
      <i class="fas fa-receipt fa-fw mr-2 text-gray-400"></i>
      Tickets  number : <strong># <%=ticket.ticketid.upcase%></strong>,  created at : <strong><%=ticket.created_at%></strong>
    </a>
  </div>
</div>
<div class="modal fade" id="<%=ticket.ticketid%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <%= render 'ticket', ticket: ticket %>
    </div>
  </div>
</div>
<%end%>
<!-- Bootstrap core JavaScript-->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
