<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screen.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @screen.url %>
</p>

<p>
  <strong>Parant:</strong>
  <%= @screen.parant %>
</p>

<p>                 supplier GET    /suppliers/:id(.:format)                                                                 suppliers#show

  <strong>Isrout:</strong>
  <%= @screen.isrout %>
</p>

<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
