<p id="notice"><%= notice %></p>

<h1>Typeproducts</h1>

<table>
  <thead>
    <tr>
      <th>Line</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typeproducts.each do |typeproduct| %>
      <tr>
        <td><%= typeproduct.line %></td>
        <td><%= link_to 'Show', typeproduct %></td>
        <td><%= link_to 'Edit', edit_typeproduct_path(typeproduct) %></td>
        <td><%= link_to 'Destroy', typeproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typeproduct', new_typeproduct_path %>
