<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Permissions</h1>
<%= form_tag(rolepermissions_path, method: :post)%>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <!--<div class="card-header py-3">
    <h6>Select Role</h6>
    <%= select_tag "role", options_from_collection_for_select(@roles, "id", "name"), class: "browser-default custom-select", data: {url: '#', method: 'get' ,remote: true}%>
  </div>-->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Screen</th>
            <% @roles.each do |role| %>
              <th><%=role.name%></th>
            <%end%>
          </tr>
        </thead>
        <tbody id="tablerole">
          <% @screens.each do |screen| %>
          <tr>
            <td><%= screen.name %></td>
            <%@roles.each do |role|%>
              <td><%= check_box_tag "screens[]", {screen.id=>role.id}, role.screens.include?(screen) ? true : false %></td>
            <%end%>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag "Save Permissions", class: "btn btn-primary"%>

    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
