<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rolepermissions.each do |rolepermission| %>
      <tr>
        <td><%= link_to 'Show', rolepermission %></td>
        <td><%= link_to 'Edit', edit_rolepermission_path(rolepermission) %></td>
        <td><%= link_to 'Destroy', rolepermission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rolepermission', new_rolepermission_path %>
