<%= form_tag(customer_path(customer.id), method: :patch)%>
  <div class="form-group">
      <%= label_tag :first_name %><br />
      <%= text_field_tag :first_name,  customer.first_name,  class: "form-control form-control-user" %>
    </div>
    <div class="form-group">
        <%= label_tag :last_name %><br />
        <%= text_field_tag :last_name,  customer.last_name, class: "form-control form-control-user" %>
      </div>
        <div class="form-group">
        <%= label_tag :adress %><br />
        <%= text_field_tag :adress,  customer.last_name, class: "form-control form-control-user" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %><br />
        <%= email_field_tag :email,  customer.email, class: "form-control form-control-user" %>
      </div>
          <div class="form-group">
        <%= label_tag :mobile %><br />
        <%= text_field_tag :mobile,  customer.mobile,  class: "form-control form-control-user" %>
      </div>

        
      
     
