<%=form_for(customer, url: customer_path(customer.id), html: {method: "patch"}) do|f|%>
  <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: "form-control form-control-user" %>
    </div>
    <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: "form-control form-control-user" %>
      </div>
        <div class="form-group">
        <%= f.label :adress %><br />
        <%= f.text_field :adress, class: "form-control form-control-user" %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control form-control-user" %>
      </div>
          <div class="form-group">
        <%= f.label :mobile %><br />
        <%= f.text_field :mobile, class: "form-control form-control-user" %>
      </div>
   <div class="modal-footer">
        <div class="actions">
            <%= f.submit "Edit customer", class: "btn btn-primary btn-user btn-block" %>
        </div>
      </div>

      <% end %>

        
      
     
