<%= form_for :customer do |customer| %>

  <div class="form-group">
      <%= label_tag :first_name %><br />
      <%= text_field_tag :first_name,  nil,  class: "form-control form-control-user" %>
    </div>
    <div class="form-group">
        <%= label_tag :last_name %><br />
        <%= text_field_tag :last_name, nil, class: "form-control form-control-user" %>
      </div>
        <div class="form-group">
        <%= label_tag :adress %><br />
        <%= text_field_tag :adress,  nil, class: "form-control form-control-user" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %><br />
        <%= email_field_tag :email,  nil, class: "form-control form-control-user" %>
      </div>
          <div class="form-group">
        <%= label_tag :mobile %><br />
        <%= text_field_tag :mobile,  nil,  class: "form-control form-control-user" %>
      </div>
      
      <div class="modal-footer">
        <div class="actions">
            <%= submit_tag "Create customer", class: "btn btn-primary btn-user btn-block" %>
        </div>
      </div>
<% end %>

 