<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<form action="#">
      <input type="text" placeholder="Search Supplier.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
 </form>
 <br>
<table class="table">
  <thead class="thead-dark">
  
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Adress</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.adress %></td>
        <td><%= customer.email %></td>
        <td><%= customer.mobile %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Customer', new_customer_path %>
