<p id="notice"><%= notice %></p>

<p>
  <strong>first_name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>last_name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>adress:</strong>
  <%= @customer.adress %>
</p>

<p>
  <strong>email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>mobile:</strong>
  <%= @customer.mobile %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
