var table = document.getElementById('table');
table.insertAdjacentHTML('afterbegin', '<tr><td><%= @product.id %></td><td><%= @product.name %></td><td><span id="<%=@product.id%>"><%= @product.pricebuy %></span> €</td><td>1</td></tr>');
var productPrice = parseInt(document.getElementById('<%=@product.id%>').innerHTML);
var globalPrice = parseInt(document.getElementById('globalprice').innerHTML);
document.getElementById('globalprice').innerHTML = globalPrice + productPrice;
var quantity = parseInt(document.getElementById('quantity-<%=@product.id%>').innerHTML);


var pressTimer;

$("a").mouseup(function(){
  clearTimeout(pressTimer);
  // Clear timeout
  return false;
}).mousedown(function(){
  // Set timeout
  pressTimer = window.setTimeout(function() { ... Your Code ...},1000);
  return false;
});
