<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Category</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a class="dropdown-item btn btn-primary" href="category" data-toggle="modal" data-target="#categoryModal">
      <i class="fas fa-user-plus fa-fw mr-2 text-gray-400"></i>
      Create Product
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th> Name</th>
            <th>Logo</th>
            <th>Edit</th>
            <th>Destroy</th>
          
          </tr>
        </thead>
        
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.logo %></td>
            <td></td>
            <td><%= link_to 'Edit', edit_category_path(category) ,class: "btn btn-warning" %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger" %></td>
            </tr>
       
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new category</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render 'form_new_category' %>
      </div>
      <div class="modal-footer">
        <div class="actions">
          <%= submit_tag "Create category", class: "btn btn-primary btn-user btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
