<p id="notice"><%= notice %></p>

<h1>Businesslines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesslines.each do |businessline| %>
      <tr>
        <td><%= businessline.name %></td>
        <td><%= businessline.description %></td>
        <td><%= link_to 'Show', businessline %></td>
        <td><%= link_to 'Edit', edit_businessline_path(businessline) %></td>
        <td><%= link_to 'Destroy', businessline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Businessline', new_businessline_path %>
