<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Pricesell:</strong>
  <%= @product.pricesell %>
</p>

<p>
  <strong>Pricebuy:</strong>
  <%= @product.pricebuy %>
</p>

<p>
  <strong>Stockvolume:</strong>
  <%= @product.stockvolume %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @product.reference %>
</p>

<p>
  <strong>Stockcost:</strong>
  <%= @product.stockcost %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
