<%= form_tag(supplier_path(supplier.id), method: :patch)%>
  <div class="form-group">
      <%= label_tag :name %><br />
      <%= text_field_tag :name,  supplier.name,  class: "form-control form-control-user" %>
    </div>
    <div class="form-group">
        <%= label_tag :adress %><br />
        <%= text_field_tag :adress,  supplier.adress, placeholder: "Supplier address", class: "form-control form-control-user" %>
      </div>
      <div class="form-group">
        <%= label_tag :email %><br />
        <%= email_field_tag :email,  supplier.email, placeholder: "Supplier Email", class: "form-control form-control-user" %>
      </div>
          <div class="form-group">
        <%= label_tag :Mobile %><br />
        <%= text_field_tag :mobile,  supplier.mobile, placeholder: "Supplier Mobile", class: "form-control form-control-user" %>
      </div>
      
     
