<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Suppliers</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a class="dropdown-item btn btn-primary" href="#" data-toggle="modal" data-target="#SupplierModal">
      <i class="fas fa-supplier-plus fa-fw mr-2 text-gray-400"></i>
      Create supplier
    </a>
 
  </div>
   <div class="card-header py-3">
   
 
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
        </thead>
        <!--
        <tfoot>
          <tr>
            <th>Screen</th>
            <th>Access</th>
          </tr>
        </tfoot>
        -->
      <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.adress %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.mobile %></td>
       
       
        <td><a class="btn btn-warning" href="<%=edit_supplier_path(supplier)%>" data-toggle="modal" data-target="#EditSupplierModal<%=supplier.id%>">
      Edit
    </a></td>
        
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger" %></td>
      </tr>

      <div class="modal fade" id="EditSupplierModal<%=supplier.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Edit supplier</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render 'form_edit_supplier', supplier: supplier %>
      </div>

      <div class="modal-footer">
        <div class="actions">
            <%= submit_tag "Edit supplier", class: "btn btn-primary btn-user btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
    <% end %>
  </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="SupplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new supplier</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <%= render 'form_new_supplier' %>
      </div>

      <div class="modal-footer">
        <div class="actions">
            <%= submit_tag "Create supplier", class: "btn btn-primary btn-user btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
