<p id="notice"><%= notice %></p>
<h1>Suppliers </h1>
<form action="#">
      <input type="text" placeholder="Search Supplier.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
 </form>
 <br>
<table class="table">
  <thead class="thead-dark">
  
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Adress</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
    </tr>
  </thead>
   <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.adress %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.mobile %></td>
       
        <td><%= link_to 'Show', supplier,class: "btn btn-primary"  %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) ,class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'Add Supplier', new_supplier_path,class: "btn btn-primary"  %>
 