<h1 class="h3 mb-2 text-gray-800">Products of <%= category.name %></h1><br>
<div class="row">
<% category.products.each do |product| %>
  <%= link_to sales_path, id: "link-card-product",class: 'col-xl-3 col-md-6 mb-4', style: 'cursor: pointer;', data: { method: :post, remote: true, params: {:product_id => product.id}.to_param} do %>
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><%= product.name %></div>
            <div class="mb-0 font-weight-bold text-gray-800">quantity : <span id="quantity-<%=product.id%>"><%= product.stockvolume %><span></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
