<!DOCTYPE html>
<html>
  <head>
    <title>THPPos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>

  <body>

    <% unless current_page?(new_static_page_path) || !user_signed_in? || current_page?(homes_path)  %>

    <div id="page-top">

      <!-- Page Wrapper -->
      <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->

        <%= link_to root_path, class: 'sidebar-brand d-flex align-items-center justify-content-center' do %>

            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-chart-pie"></i>
            </div>
            <% if current_user.company != nil %>
              <div class="sidebar-brand-text mx-3"><%= current_user.company.name %></div>
            <% else %>
              <div class="sidebar-brand-text mx-3">no company</div>
            <%end%>
          <% end %>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
             <%= link_to root_path,  class: "nav-link" do %>
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span>
          </li>
          <%end%>

          <!-- Divider -->
          <hr class="sidebar-divider">
           <% if current_user.role.name == 'admin' %>

          <!-- Heading -->
          <div class="sidebar-heading">
            Admin
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-shield-alt"></i>
              <span>Security</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Titre for security</h6>
                <%= link_to 'Users', employees_path, class: "collapse-item" %>
                <%= link_to 'Roles', roles_path, class: "collapse-item" %>
                <%= link_to 'Permissions', new_rolepermission_path, class: "collapse-item" %>
              </div>
            </div>
          </li>

          <!-- Nav Item - Utilities Collapse Menu -->
          <%end%>
          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            Addons
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapsePages">
              <i class="fab fa-product-hunt"></i>
              <span>Products</span>
            </a>
            <div id="collapseProducts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Titre products:</h6>
                <%= link_to 'Products', products_path, class: "collapse-item" %>
                <%= link_to 'Categories', categories_path, class: "collapse-item" %>

              </div>
            </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseServices" aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw fa-folder"></i>
              <span>Services</span>
            </a>
            <div id="collapseServices" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
               <%= link_to 'Supliers', suppliers_path, class: "collapse-item" %>
               <%= link_to 'Customers', customers_path, class: "collapse-item" %>
               <%= link_to 'Stock Management', edit_stockcurrent_path(current_user.company.stockcurrent), class: "collapse-item" %>
               <%= link_to 'Purchas', purshas_path, class: "collapse-item" %>
               <%= link_to 'Sales', sales_path, class: "collapse-item" %>
                <% if current_user.role.name == 'admin' %>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">admin</h6>
                <%= link_to 'Edit Sales', root_path, class: "collapse-item" %>
                <% end %>
              </div>
            </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayments" aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-credit-card"></i>
              <span>Payments</span>
            </a>
            <div id="collapsePayments" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <%= link_to 'Payment out', paymentout_index_path, class: "collapse-item" %>
                <%= link_to 'Payment in', paymentin_index_path, class: "collapse-item" %>
                <%= link_to 'ClosedCash', root_path, class: "collapse-item" %>
              </div>
            </div>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReprits" aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-flag"></i>
              <span>Reports</span>
            </a>
            <div id="collapseReprits" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <%= link_to 'Products', root_path, class: "collapse-item" %>
                <%= link_to 'Customers', root_path, class: "collapse-item" %>
                <%= link_to 'Supliers', root_path, class: "collapse-item" %>
                <%= link_to 'Closcash', root_path, class: "collapse-item" %>
                 <%= link_to 'Purchase Invoices', root_path, class: "collapse-item" %>
                <%= link_to 'Profit Report', root_path, class: "collapse-item" %>
              </div>
            </div>
          </li>


          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>

              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                  </a>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.first_name %> <%= current_user.last_name %></span>
                    <img class="img-profile rounded-circle" src="<%= asset_path('profile.png') %>">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                   <%= link_to root_path, class: "dropdown-item" do %>
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                  <%end%>
                   <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    <%end%>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>

              </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%= render 'layouts/flash'%>
              <%= yield %>
            </div>
            <!-- /.container-fluid -->
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="<%= destroy_user_session_path %>" data-method="delete">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap core JavaScript-->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="js/sb-admin-2.min.js"></script>

      <!-- Page level plugins -->
      <script src="vendor/chart.js/Chart.min.js"></script>

      <!-- Page level custom scripts -->
      <script src="js/demo/chart-area-demo.js"></script>
      <script src="js/demo/chart-pie-demo.js"></script>

    </div>

    <%else%>
      <%= yield %>
    <% end %>
  </body>
</html>
